@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-x {
    animation: gradient-x 8s ease infinite;
    background-size: 200% 200%;
    background-image: linear-gradient(to right, #1c1c1e, #2c2c2e, #3a3a3c, #3a3a3c);
  }
}
